@import '../../styles/styles.scss';
@import '../../styles/mixins.scss';

.offer {
  padding: 30px 0;

  background-color: $color-2-beige;
  text-align: center;

  @include vp-768 {
    padding: 50px 0;
  }

  @include vp-1260 {
    padding: 60px 0;
  }
}

.offer__title {
  margin: 0;
  margin-bottom: 15px;

  font-family: $ff-tilda;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
}

.offer__text {
  margin: 0;
  margin-bottom: 20px;

  font-family: $ff-tilda;
  font-size: 18px;
  line-height: 1.2;
}

.offer__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.offer__link {
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  
  font-family: $ff-tilda;
  font-weight: 500;
  font-size: 18px;
  color: $base-dark-color;
  
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $base-dark-color;

    &.outer {
      background-color: rgba($base-dark-color, 0.1);
    }
  }

  &.message {
    background-color: $color-1-violet;
  }

  &.call {
    background-color: $color-3-pink;
  }
}

.offer__link svg {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.messageChoose {
  display: flex;
  gap: 10px;
}
