@import '../../../styles/vars.scss';
@import '../../../styles/mixins.scss';

.photozonePage {
  padding: 10px 0;
  
  min-height: 100%;
  
  text-align: start;
  font-family: $ff-tilda;

  background-color: $base-light-color;
  
  @include vp-1260 {
    padding: 20px 0;
  }
}

.photozonePage__headerImageWrapper {
  margin: 30px 0;

  width: 70%;
  box-shadow: 0 0 10px 10px $color-orange;

  & img {
    box-shadow: 0 0 0 5px $base-light-color, 0 0 0 15px $color-telegram-blue, 5px 10px 10px 10px $base-dark-color;
    transform: translateY(-10px);
    
    @include vp-1260 {
      box-shadow: 0 0 0 10px $base-light-color, 0 0 0 20px $color-telegram-blue, 5px 10px 10px 10px $base-dark-color;
      transform: translate(-20px, -20px);
    }
  }
  
  @include vp-1260 {
    width: 100%;
  }
}

.photozonePage__feedbackImage {
  margin: 20px 0;
  padding: 10px;

  width: 60%;
  max-width: 250px;

  aspect-ratio: 1/1;
  box-shadow: -10px 10px 0 10px rgba($color-purple, 0.5), 10px -10px 0 10px rgba($color-orange, 0.5);
}
