@import '../../../styles/vars.scss';
@import '../../../styles/mixins.scss';

.photozonePage {
  padding: 10px 0;
  
  min-height: 100%;
  
  text-align: start;
  font-family: $ff-tilda;

  background-color: $base-light-color;
  
  @include vp-1260 {
    padding: 20px 0;
  }
}

.photozonePage__headerImageWrapper {
  & img {
    aspect-ratio: 1/1;

    box-shadow: 
      0 0 0 10px $base-light-color,
      0 0 0 20px $color-telegram-blue,
      0 5px 15px 15px $base-dark-color,
    ;
  }
}

.photozonePage__feedbackImage {
  margin: 20px 0;
  padding: 10px;

  width: 60%;
  max-width: 250px;

  aspect-ratio: 1/1;
  box-shadow: -10px 10px 0 10px rgba($color-purple, 0.5), 10px -10px 0 10px rgba($color-orange, 0.5);
}
