@import '../../styles/styles.scss';
@import '../../styles/mixins.scss';

.services {
  padding: 40px 0;

  text-align: center;
  font-family: $ff-tilda;
  line-height: 1;
  background-color: $base-light-color;

  @include vp-1260 {
    padding: 60px 0;
  }
}

.services__title {
  margin: 0;
  margin-bottom: 15px;

  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;

  @include vp-1260 {
    font-size: 42px;
  }
}

.services__subtitle {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 300;
  font-size: 22px;

  @include vp-1260 {
    font-size: 28px;
  }
}

.services__list {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  display: block;

  list-style: none;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @include vp-1600 {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

.services__link {
  padding: 10px 30px;

  display: block;
  color: $base-light-color;
  font-family: $ff-tilda;
  font-size: 20px;
  font-weight: 500;
  
  background-color: $color-4-blue;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $base-dark-color;
    color: $base-light-color;
  }

  @include vp-768 {
    margin: 0 auto;
    font-size: 22px;
    max-width: fit-content;
  }
}
