@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.colorPalette {
  background-color: $base-light-color;

  @include vp-1260 {
    padding: 10px 0;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.colorPalette__title {
  margin-bottom: 10px;
  
  display: none;
  align-items: center;
  
  font-size: $fz-s;
  
  @include vp-1260 {
    display: flex;
    margin-bottom: 15px;

    font-size: calc($fz-m - 3px);
    font-weight: 600;
  }
}

.colorPalette__list {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  list-style: none;

  @include vp-1260 {
    margin-bottom: 15px;
    gap: 5px;
  }
}

.colorPalette__item {
  padding: 5px;

  display: flex;
  align-items: center;
  gap: 5px;
  
  background-color: $color-grey-light;
  border-radius: 5px;
  
  transition: all 200ms ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $color-grey-light;
  }

  &.active {
    background-color: $color-purple;
    background: linear-gradient(to right bottom, $color-telegram-blue, $color-purple);
    border-radius: 5px;
  }
}

.colorPalette__color {
  width: 25px;
  height: 25px;
  
  position: relative;
  display: block;
  
  border-radius: 50%;
  box-shadow: 0px 0px 10px -5px $base-dark-color inset;
  transition: all 200ms ease-in-out;

  @include vp-1260 {
    width: 20px;
    height: 20px;
  }

  // Блик
  &::after {
    position: absolute;
    content: '';

    width: 3px;
    height: 8px;
    top: 3px;
    left: 3px;
    background-color: rgba($base-light-color, 0.5);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    transform: rotate(25deg);
  }
}

.clearButton {
  width: 20px !important;
  height: 20px !important;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1/1;

  border: none;
  background-color: transparent;
  color: $base-light-color !important;

  &:hover {
    background-color: transparent !important;
    color: $color-grey !important;
  }

  & svg {
    width: 12px;
    height: 12px;
  }
}
