@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.colorPalette {
  margin-bottom: 10px;

  background-color: $base-light-color;

  @include vp-1260 {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.colorPalette__title {
  margin-bottom: 10px;
  
  display: flex;
  align-items: center;
  
  font-size: $fz-s;
  
  @include vp-1260 {
    margin-bottom: 15px;

    font-size: calc($fz-m - 3px);
    font-weight: 500;
  }
}

.colorPalette__container {
  margin-bottom: 20px;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @include vp-1260 {
    margin-bottom: 15px;
  }
}

.colorPalette__item {
  width: 20px;
  height: 20px;

  position: relative;

  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 10px -5px $base-dark-color inset;

  transition: all 200ms ease-in-out;

  &.active {
    // scale: 1.4;

    outline: 5px $color-purple solid;
    outline-offset: 2px;
  }

  & svg {
    width: 30px;
    height: 30px;
  }

  &::after {
    position: absolute;
    content: '';

    width: 3px;
    height: 8px;
    top: 6px;
    left: 5px;
    background-color: rgba($base-light-color, 0.5);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    transform: rotate(25deg);
  }

  // @include vp-1260 {
  //   width: 30px;
  //   height: 30px;
  // }
}
