@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.menu {
  display: block;
  
  @include vp-1260 {
    display: none;
  }

  & > li:first-child {
    background-color: rgb(174, 233, 57);
    text-transform: uppercase;
  }

  & li {

    & svg {
      transition: all 200ms ease-in-out;
    }

    &:hover {
      & svg {
        color: $color-6-red;
      }
    }
  }
}
