@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.collectionPalette {
  margin-bottom: 10px;

  background-color: $base-light-color;

  @include vp-1260 {
    // margin-top: 20px;
    margin-bottom: 0;
  }
}

.collectionPalette__title {
  margin-bottom: 10px;
  
  display: flex;
  align-items: center;
  
  font-size: $fz-s;
  
  @include vp-1260 {
    margin-bottom: 15px;

    font-size: calc($fz-m - 3px);
    font-weight: 600;
  }
}

.collectionPalette__list {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  list-style: none;
}

.collectionPalette__item {
  padding: 10px;

  font-size: calc($fz-m - 2px);
  
  background-color: $color-grey-light;
  border-radius: 5px;
  
  transition: all 200ms ease-in-out;
  cursor: pointer;

  &.active {
    background-color: $color-purple;
    background: linear-gradient(to right bottom, $color-telegram-blue, $color-purple);
    color: $base-light-color;
  }

  &:hover {
    background-color: rgba($color-grey, 0.6);
  }
}

.clearButton {
  width: 100%;
  color: $base-light-color;

  border: none;

  box-shadow: 0 3px 8px -3px $base-dark-color;
  background-color: $color-red;
  background: radial-gradient($color-orange, $color-red);

  &:hover,
  &:active,
  &:focus {
    color: $base-light-color !important;
    
    box-shadow: 0 3px 8px -2px $base-dark-color;
    background-color: $color-red !important;
    background: radial-gradient($color-orange, rgba($color-red, 0.8)) !important;
  }
}
