@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.collectionPalette {
  margin-bottom: 10px;

  background-color: $base-light-color;

  @include vp-1260 {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.collectionPalette__title {
  margin-bottom: 10px;
  
  display: flex;
  align-items: center;
  
  font-size: $fz-s;
  
  @include vp-1260 {
    margin-bottom: 15px;

    font-size: calc($fz-m - 3px);
    font-weight: 500;
  }
}

.collectionPalette__list {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  gap: 5px;

  list-style: none;
}

.collectionPalette__item {
  padding: 12px 10px;
  width: 100%;

  font-size: calc($fz-m - 2px);
  
  background-color: $color-grey-light;
  border-radius: 5px;
  
  transition: all 200ms ease-in-out;
  cursor: pointer;

  &.active {
    color: $base-light-color;
    background-color: $color-purple;
  }
}
