@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.collectionPalette {
  margin-bottom: 10px;

  background-color: $base-light-color;

  @include vp-1260 {
    // margin-top: 20px;
    margin-bottom: 0;
  }
}

.collectionPalette__title {
  margin-bottom: 10px;
  
  display: none;
  align-items: center;
  
  font-size: $fz-s;
  
  @include vp-1260 {
    display: flex;
    margin-bottom: 15px;

    font-size: calc($fz-m - 3px);
    font-weight: 600;
  }
}

.collectionPalette__list {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;

  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  list-style: none;

  @include vp-1260 {
    margin-bottom: 15px;
  }
}

.collectionPalette__item {
  padding: 10px;

  display: flex;
  align-items: baseline;
  gap: 5px;

  font-size: calc($fz-m - 2px);
  
  background-color: $color-grey-light;
  border-radius: 5px;
  
  transition: all 200ms ease-in-out;
  cursor: pointer;

  &.active {
    background-color: $color-purple;
    background: linear-gradient(to right bottom, $color-telegram-blue, $color-purple);
    color: $base-light-color;
  }

  &:hover {
    background-color: rgba($color-grey, 0.6);
  }
}

.clearButton {
  width: 15px !important;
  height: 15px !important;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1/1;

  border: none;
  background-color: transparent;
  color: $base-light-color !important;

  &:hover {
    background-color: transparent !important;
    color: $color-grey !important;
  }

  & svg {
    width: 12px;
    height: 12px;
  }
}
