@import '../../../../styles/vars.scss';
@import '../../../../styles/mixins.scss';

.header {
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  @include vp-768 {
    margin-bottom: 60px;
    padding: 40px;

    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 30px;
  }
}

.header__textWrapper {
  margin-bottom: 20px;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  text-align: center;
  line-height: 1.2;

  @include vp-768 {
    justify-content: center;
  }

  @include vp-1260 {
    text-align: left;
    align-items: flex-start;
    gap: 40px;
  }
}

.header__title {
  margin: 0;

  font-size: $fz-m;
  font-weight: 600;

  @include vp-1260 {
    max-width: 80%;
    
    font-size: $fz-l;
  }
}

.header__subTitle {
  margin: 0;
  
  font-size: calc($fz-m - 2px);
  font-weight: 400;
  
  @include vp-1260 {
    margin-bottom: 20px;
    
    max-width: 80%;

    font-size: $fz-m;
  }
}

.header__button {
  padding: 10px 20px;
  width: fit-content;

  display: flex;
  align-items: center;

  background-color: $color-orange;
  border-radius: 20px;
  border: none;
  box-shadow: 0 2px 10px -5px $base-dark-color;

  font-family: $ff-tilda;
  color: $base-light-color;

  transition: all 250ms ease-in-out;

  @include vp-1260 {
    padding: 20px 40px;

    font-size: calc($fz-m - 2px);
  }

  &:hover {
    background-color: rgba($color-orange, 0.8) !important;
    color: $base-light-color !important;
  }
}

.header__imageWrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  & img {
    width: 100%;
    height: 100%;
  }
}
