@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';
@import '../../styles/global.scss';

.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  color: $base-dark-color;
  font-weight: 500;
  
  & svg {
    border-radius: 50%;
  }

  &:hover {
    color: $base-dark-color;
  }
}
