@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.socialLink {
  padding: 5px;

  display: flex;
  align-items: center;

  border-radius: 5px;
  transition: all 250ms ease-in-out;
  
  & svg {
    padding: 3px;

    width: 20px;
    height: 20px;
    
    display: flex;
    border-radius: 50%;
  }

  &:hover {
    background-color: $color-grey;
  }
}

.socialLink__telegram {
  & svg {
    background-color: $color-telegram-blue;
  }
}

.socialLink__whatsapp {
  & svg {
    background-color: $color-whatsapp-green;
  }
}

.socialLink__vk {
  & svg {
    background-color: $color-vk-blue;
  }
}
