@import '../../../../styles/styles.scss';
@import '../../../../styles/mixins.scss';

.additional {
  padding: 40px 0;
}

.additional__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  @include vp-768 {
    justify-content: flex-start;
  }
}

.additional__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.additional__itemImageWrapper {
  max-width: 150px;

  & img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;

    border-radius: 10px;
  }
}

.additional__title {
  margin: 0;
  margin-bottom: 20px;

  font-size: calc($fz-m - 2px);
  font-weight: 500;
  
  @include vp-768 {
    font-size: $fz-m;

  }
}

.additional__itemTitle {
  margin: 0;

  font-size: calc($fz-m - 2px);
}
