@import '../../../styles/vars.scss';
@import '../../../styles/mixins.scss';

.childrenShowPage {
  padding: 10px 0;
  
  min-height: 100%;
  
  text-align: start;
  font-family: $ff-tilda;

  background-color: $base-light-color;
  
  @include vp-1260 {
    padding: 20px 0;
  }
}

.childrenShowPage__header {
  margin-bottom: 40px;
  padding: 40px;

  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 30px;
}

.childrenShowPage__headerTextWrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.childrenShowPage__headerTitle {
  margin: 0;
  margin-bottom: 20px;

  max-width: 80%;

  font-size: $fz-l;
  font-weight: 600;
  line-height: 1.5;
}

.childrenShowPage__headerSubTitle {
  margin: 0;
  margin-bottom: 20px;

  max-width: 80%;

  font-size: $fz-m;
  font-weight: 400;
  line-height: 1.5;
}

.childrenShowPage__headerButton {
  padding: 20px 40px;
  width: fit-content;

  display: flex;
  align-items: center;

  background-color: $color-orange;
  border-radius: 20px;
  border: none;
  box-shadow: 0 2px 10px -5px $base-dark-color;

  font-family: $ff-tilda;
  font-size: calc($fz-m - 2px);
  color: $base-light-color;

  transition: all 250ms ease-in-out;

  &:hover {
    background-color: rgba($color-orange, 0.8) !important;
    color: $base-light-color !important;
  }
}

.childrenShowPage__headerImageWrapper {
  width: 100%;
  height: 100%;
  min-height: 250px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  box-shadow: 0 0 0 10px $color-orange;
}

.childrenShowPage__headerImage {
  width: 100%;
  height: 100%;

  &:first-child {
    transform: translate(20px, -20px);
  }
  
  &:last-child {
    transform: translate(-20px, 20px);
  }

  box-shadow: 0 0 0 10px $color-telegram-blue;
}

.childrenShowPage__contentTitleWrapper {
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.childrenShowPage__contentTitle {
  margin: 0;
  margin-bottom: 20px;

  font-size: $fz-l;
  font-weight: 600;
}

.childrenShowPage__contentSubTitle {
  margin: 0;

  font-size: $fz-m;
}

.variants {
  margin-bottom: 40px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  row-gap: 40px;
}

.variants__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.variants__imageWrapper {
  width: 100%;
  max-width: 250px;
}

.variants__image {
  width: 100%;
  height: auto;

  aspect-ratio: 1/1;

  border-radius: 10px;
}

.variants__itemTitle {
  margin: 0;

  font-size: $fz-m;
  font-weight: 400;
}

.childrenShowPage__feedbackImage {
  padding: 10px;

  width: 100%;
  max-width: 250px;

  border-radius: 50%;
  aspect-ratio: 1/1;
  box-shadow: 
    -20px 10px 0 10px rgba($color-purple, 0.8), 
    20px -10px 0 10px rgba($color-orange, 0.8), 
    20px 20px 0 10px rgba($color-green, 0.8);
}

.additional {
  padding: 40px 0;
}

.additional__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.additional__title {
  margin: 0;
  margin-bottom: 20px;

  font-size: $fz-m;
  font-weight: 500;
}

.additional__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.additional__itemImageWrapper {
  max-width: 200px;

  & img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;

    border-radius: 10px;
  }
}

.additional__itemTitle {
  margin: 0;

  font-size: $fz-m;
}

.childrenShowPage__stepsWrapper {
  padding: 40px 0;
  margin-bottom: 40px;
}

.childrenShowPage__stepsTitle {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 500;
  font-size: $fz-l;
  text-align: center;
}

.childrenShowPage__stepsSubTitle {
  margin: 0;
  margin-bottom: 20px;
  
  font-size: $fz-m;
  text-align: center;
}

.childrenShowPage__steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.childrenShowPage__step {
  padding: 15px;
  margin: 0 auto;
  max-width: 70%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  font-size: $fz-m;
  text-align: center;
}

.childrenShowPage__stepTitle {
  margin: 0;

  font-weight: 500;
  font-size: $fz-m;
}

.childrenShowPage__stepText {
  margin: 0;

  font-size: calc($fz-m - 2px);
  line-height: 1;
}

.childrenShowPage__stepImageWrapper {
  width: 100%;
  max-width: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.childrenShowPage__stepImage {
  width: 100%;
  height: auto;

  aspect-ratio: 1/1;
  object-fit: contain;
}

.childrenShowPage__description {
  padding: 40px 20px;

  background-color: $color-grey-light-2;
}

.childrenShowPage__descriptionTitle {
  margin: 0;
  margin-bottom: 20px;

  text-align: center;
  font-weight: 500;
  font-size: $fz-l;
}

.childrenShowPage__descriptionList {
  display: flex;
  gap: 20px;
}

.childrenShowPage__descriptionItem {
  padding: 20px;

  display: flex;
  align-items: center;
  text-align: center;

  font-size: $fz-m;
  line-height: 1;
  color: $base-light-color;

  border-radius: 10px;
  background-color: $color-orange;
  background: linear-gradient(to right bottom, $color-orange, $color-red);
}

.childrenShowPage__descriptionAddition {
  font-size: $fz-m;
  line-height: 1.5;
  font-weight: 600;
}

.childrenShowPage__complex {
  padding: 20px 0 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.childrenShowPage__complexTitle {
  margin: 0;
  margin-bottom: 20px;

  text-align: center;
  font-size: $fz-l;
  line-height: 1;
  font-weight: 500;
}

.childrenShowPage__complexContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.childrenShowPage__complexItem {
  padding: 40px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &:nth-child(1) {
    background-color: rgba($color-grey-light, 1);
  }

  &:nth-child(2) {
    background-color: rgba($color-green, 0.3);
  }

  &:nth-child(3) {
    background-color: rgba($color-purple, 0.3);
  }
  
  &:nth-child(4) {
    background-color: rgba($color-orange, 0.3);
  }
}

.childrenShowPage__complexItemTitle {
  margin: 0;

  font-size: $fz-m;
}

.childrenShowPage__complexItemPrice {
  margin: 0;

  font-size: $fz-m;
  font-weight: 600;
}

.childrenShowPage__complexItemList {
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.childrenShowPage__complexItemListChild {
  font-size: $fz-s;
}

.childrenShowPage__complexButton {
  margin-top: auto;
  width: 50%;

  background-color: rgba($color-green, 0.8);
  color: $base-light-color;
  border-radius: 20px;
  border: none;
  box-shadow: 0 2px 10px -4px $base-dark-color;

  &:hover {
    background-color: rgba($color-green, 0.7);
  }
}
