@import '../../../styles/vars.scss';
@import '../../../styles/mixins.scss';

.childrenShowPage {
  padding: 10px 0;
  
  min-height: 100%;
  
  text-align: start;
  font-family: $ff-tilda;

  background-color: $base-light-color;
  
  @include vp-1260 {
    padding: 20px 0;
  }
}

.childrenShowPage__headerImageWrapper {
  & img {
    aspect-ratio: 4/3;

    box-shadow: 
      0 0 0 10px $base-light-color,
      0 0 0 20px $color-orange,
      0 5px 15px 15px $base-dark-color,
    ;
  }
}

.childrenShowPage__description {
  padding: 40px 20px;

  background-color: $color-grey-light-2;
}

.childrenShowPage__descriptionTitle {
  margin: 0;
  margin-bottom: 20px;

  text-align: center;
  font-weight: 500;
  font-size: $fz-l;
}

.childrenShowPage__descriptionList {
  display: flex;
  gap: 20px;
}

.childrenShowPage__descriptionItem {
  padding: 20px;

  display: flex;
  align-items: center;
  text-align: center;

  font-size: $fz-m;
  line-height: 1;
  color: $base-light-color;

  border-radius: 10px;
  background-color: $color-orange;
  background: linear-gradient(to right bottom, $color-orange, $color-red);
}

.childrenShowPage__descriptionAddition {
  font-size: $fz-m;
  line-height: 1.5;
  font-weight: 600;
}

.childrenShowPage__feedbackImage {
  padding: 10px;
  margin: 20px 0;

  width: 100%;
  max-width: 200px;

  border-radius: 50%;
  aspect-ratio: 1/1;
  box-shadow: 
    -20px 10px 0 10px rgba($color-purple, 0.8), 
    20px -10px 0 10px rgba($color-orange, 0.8), 
    20px 20px 0 10px rgba($color-green, 0.8);

    @include vp-1260 {
      max-width: 250px;
    }
}
