@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.burgerButton {
  @include vp-1260 {
    display: none;
  }
}

.menu__links {
  display: flex;
  flex-direction: column;

  & a {
    padding: 18px 15px;

    display: flex;
    align-items: center;
    gap: 10px;

    color: $base-dark-color;
    font-size: $fz-s;

    border-bottom: 1px $color-2-greyDarker solid;
  }

  & svg {
    font-size: 15px;
  }
}

// Меняем расположение header в дравере меню
// .drawer {
//   & > div:first-child {
//     // padding: 16px 39px;
//     & div {
//       flex-direction: row-reverse;

//       & button {
//         margin: 0;
//       }
//     }
//   }
// }
