@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';
@import '../../styles/global.scss';

.hero {
  background-color: $base-light-color;
}

.hero__container {
  
  @include vp-768 {
    padding: 20px 0;
    padding-bottom: 20px;
  }
}
