@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';
@import '../../styles/global.scss';

.hero {
  background-color: $base-light-color;
}

.hero__container {
  padding-bottom: 15px;

  @include vp-768 {
    padding-bottom: 20px;
  }
}

.hero__collections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  @include vp-768 {
    grid-template-columns: repeat(4, 1fr);
  }
}
