@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.hero {
  background-color: $color-2-grey ;

  @include vp-768 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include vp-1260 {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.hero__container {
  @include vp-1260 {
    margin: 0 auto;
    padding: 0 $secondary-indent;
    
    max-width: calc($vp-1600 + $secondary-indent * 2);
  }
}

.hero__slide {
  height: auto;

  display: flex;
  flex-direction: column-reverse;

  @include vp-768 {
    aspect-ratio: 16/5;
    display: grid;
    grid-template-columns: 7fr 5fr;
  }
}
