.hero__slider {
  margin-bottom: 0 !important;
}

.hero__slider .swiper-button-prev,
.hero__slider .swiper-button-next {
  display: none;

  margin-top: 0;
  
  height: 40px;
  width: 40px;
  border-radius: 50%;
  
  bottom: 10px;
  top: auto;
  opacity: 1;

  background-color: $base-light-color;

  transition: all 0.2s linear;
  box-shadow: 0 0 0 2px $color-grey;

  &:after {
    width: inherit;
    height: inherit;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: $base-light-color;

    color: $base-dark-color;
    font-size: 12px;
  }

  @include vp-1260 {
    display: block;
  }
}

.hero__slider .swiper-button-prev {
  right: 60px;
  left: auto;
}

.hero__slider .swiper-button-next {
  right: 15px;
  left: auto;
}

.hero__slider .swiper-pagination {
  bottom: 5px;
}

.hero__slider .swiper-pagination-bullet {
  width: 5px;
  height: 5px;

  background-color: $base-light-color;
  opacity: 0.5;
  box-shadow: 0 0 0 1px $base-dark-color inset;

  @include vp-1260 {
    width: 10px;
    height: 10px;
  }
}
