@import '../../styles/styles.scss';
@import '../../styles/mixins.scss';

.advantages {
  padding: 30px 0;

  text-align: center;
  font-family: $ff-tilda;

  background-color: $color-2-grey;

  @include vp-1260 {
    padding: 60px 0;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 20px;

  font-size: $fz-m;
  font-weight: 400;
  text-align: center;
  line-height: 1;
  
  @include vp-1260 {
    font-size: $fz-l;
    margin-bottom: 40px;
  }
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @include vp-1260 {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
}

.advantages__item {
  padding: 10px;
  height: 100%;

  &:not(:last-child) {
    margin-bottom: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid $base-dark-color;
  }

  @include vp-768 {
    &:not(:last-child) {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}

.advantages__image {
  margin-bottom: 15px;
  & svg {
    width: 50px;
    height: 50px;
  }

  @include vp-1260 {
    margin-bottom: 30px;
  }
}

.advantages__itemName {
  margin: 0;
  margin-bottom: 10px;

  font-size: $fz-s;
  font-weight: 600;
  
  @include vp-768 {
    font-size: $fz-m;
  }

  @include vp-1260 {
    margin-bottom: 20px;
  }
}

.advantages__itemText {
  margin: 0;

  font-size: $fz-s;
  line-height: 1.2;
}
