@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.catalog {
  display: none;

  @include vp-1260 {
    display: block;
  }
}

.catalog_button {
  height: auto;

  font-size: $fz-s;
  font-weight: 500;
  font-family: $ff-tilda;

  color: $base-light-color;
  border-radius: 10px;
  background-color: $color-6-red;
}
