@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.catalog {
  display: none;

  @include vp-1260 {
    display: block;
  }
}

.catalog__button {
  height: 100%;

  font-size: 17px;
  font-weight: 500;
  font-family: $ff-tilda;

  color: $base-light-color;
  border-radius: 10px;
  background-color: $color-6-red;
  
  &:hover {
    color: $base-light-color;
    background-color: $color-6-red-lighter;
  }
}
