@import '../../../styles/styles.scss';
@import '../../../styles/mixins.scss';

.catalog {
  padding: 10px 0;
  padding-top: 0;
  
  height: 100%;
  min-height: 100%;
  
  text-align: start;
  font-family: $ff-tilda;

  background-color: $base-light-color;
  
  @include vp-1260 {
    padding: 20px 0;
  }
}

.catalog__info {
  @include vp-768 {
    margin: 0 auto;
  }
}

.catalog__mobileHeader {
  margin-bottom: 10px;
  padding: 5px 10px;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: $ff-tilda;
  font-size: $fz-s;
  
  background-color: $base-light-color;
  z-index: 21;
  box-shadow: 0 1px 5px 0 $color-grey;

  @include vp-768 {
    margin-bottom: 15px;
    padding: 0 15px;
  }

  @include vp-1260 {
    display: none;
  }
}

.catalog__mobileHeaderCategoryWrapper {
  margin-left: auto;

  display: flex;
  flex-direction: column;
}

.catalog__mobileHeaderCategory,
.catalog__mobileHeaderSubcategory {
  padding: 0 10px;

  text-align: right;
  font-weight: 500;

  &:focus,
  &:active {
    color: $base-dark-color;
    border-color: $base-dark-color;
    outline: none;
  }
}

.catalog__mobileHeaderSubcategory {
  font-weight: 300;
}
  
.catalog__mobileHeaderBackButton {
  padding: 5px;

  min-height: 36px;

  font-size: $fz-s;
  line-height: 1;
  font-weight: 400;
  font-family: $ff-tilda;
  
  border-radius: 3px;
}

.catalog__mobileHeaderFilterButton {
  padding: 5px;
  aspect-ratio: 1/1
}

.catalog__mobileHeaderPalette {
  padding: 0 10px;

  @include vp-768 {
    padding: 0 20px;
  }

  @include vp-1260 {
    display: none;
  }
}

.catalog__title {
  margin: 0 auto;

  transform: translateX(-7px);

  font-size: calc($fz-m - 2px);
  font-weight: 400;

  & span {
    margin: 0 auto;
  }
}

.catalog__innerContainer {

  @include vp-1260 {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: flex-start;
    gap: 20px;
  }
}

.styledBadge {
  padding: 5px;
  
  height: 18px;

  display: flex;
  align-items: center;
  
  font-size: 12px;
  font-family: $ff-tilda;

  // @include vp-500 {
  //   padding: 0 8px;

  //   height: auto;

  //   display: block;

  //   font-size: 14px;
  // }
}

.catalogMenu {
  background-color: $color-red;

  &:first-child {
    background-color: $base-dark-color;
  }
  
}

// =================

.content__container {
  display: flex;
  flex-direction: column;
}

.subcategories__container {
  display: grid;
  grid-template-columns: 1fr auto;
}

.subcategories {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10px;
}

.subcategory__link {
  padding: 10px 15px;
  display: flex;
  align-items: center;

  color: $base-dark-color;
  font-size: calc($fz-m - 2px);

  border-radius: 3px;
  background-color: $color-grey-light;

  &:last-child {
    margin-bottom: 20px;
  }
}

.catalog__content {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, minmax(25%, 1fr));
  align-items: stretch;
  justify-content: center;
  
  @include vp-500 {
    gap: 20px;
    grid-template-columns: repeat(3, minmax(20%, 4fr));
  }

  @include vp-768 {
    grid-template-columns: repeat(4, minmax(10%, 4fr));
  }

  @include vp-1260 {
    grid-template-columns: repeat(4, minmax(15%, 1fr));
  }
}

.catalog__catalogMenu {
  display: none;

  @include vp-1260 {
    display: block;
  }
}
