@import '../../../styles/styles.scss';
@import '../../../styles/mixins.scss';

.catalog {
  padding-bottom: 20px;
  min-height: 100%;
  
  text-align: start;
  font-family: $ff-tilda;

  background-color: $base-light-color;
  
  @include vp-1260 {
    padding: 20px 0;
  }
}

.catalog__info {
  padding: 10px 0 15px;
  
  @include vp-768 {
    margin: 0 auto;
  }

  @include vp-1260 {
    padding: 15px 0 25px;
  }
}

.catalog__backToCategoryLink {
  margin-bottom: 5px;

  & button {
    padding: 5px 0;
  
    display: flex;
    align-items: center;
  
    background-color: transparent;
    border: none;

    font-size: $fz-s;
  }

  @include vp-1260 {
    display: none;
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 15px;

  font-size: calc($fz-m - 2px);
  font-weight: 500;

  & span {
    margin: 0 auto;
  }

  @include vp-1260 {
    margin-bottom: 15px;

    font-size: $fz-l;
  }
}

.catalog__innerContainer {

  @include vp-1260 {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: flex-start;
    gap: 10px;
  }
}

.catalog__content {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, minmax(25%, 1fr));
  align-items: stretch;
  justify-content: center;
  
  @include vp-500 {
    gap: 20px;
    grid-template-columns: repeat(3, minmax(20%, 4fr));
  }

  @include vp-768 {
    grid-template-columns: repeat(4, minmax(10%, 4fr));
  }

  @include vp-1260 {
    grid-template-columns: repeat(4, minmax(15%, 1fr));
  }
}

.styledBadge {
  padding: 5px;
  
  height: 18px;

  display: flex;
  align-items: center;
  
  font-size: 12px;
  font-family: $ff-tilda;

  // @include vp-500 {
  //   padding: 0 8px;

  //   height: auto;

  //   display: block;

  //   font-size: 14px;
  // }
}

.catalogMenu {
  background-color: $color-6-red;

  &:first-child {
    background-color: $base-dark-color;
  }
  
}
