@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.menu {
  display: none;

  & li {

    & svg {
      transition: all 200ms ease-in-out;
    }

    &:hover {
      & svg {
        color: $color-6-red;
      }
    }
  }

  @include vp-1260 {
    display: block;
  }
}
