@import '../../styles/styles.scss';
@import '../../styles/mixins.scss';

.hits {
  padding: 15px 0 0;

  text-align: center;
  font-family: $ff-tilda;
  background-color: $base-light-color;

  overflow: hidden;

  & * {
    user-select: none;
  }
  
  @include vp-1260 {
    padding: 20px 0 0;
  }
}

.hits__title {
  margin: 0;
  margin-bottom: 15px;
  
  position: relative;

  color: $base-dark-color;
  font-size: $fz-s;
  font-weight: 500;

  @include vp-768 {
    margin-bottom: 20px;

    font-size: $fz-m;
  }
}

.hits__showMoreLink {
  position: absolute;
  content: "";
  right: 0;
  top: 0;

  padding: 5px;

  display: flex;
  align-items: baseline;

  font-size: $fz-s;
  line-height: 1;
  color: $base-dark-color;

  border-radius: 8px;
  transition: all 200ms ease-in-out;

  &:hover {
    background-color: $color-grey-light;
    color: $base-dark-color;
  }

  @include vp-1260 {
    font-size: $fz-s;
  }
}
