@import '../../../styles/vars.scss';
@import '../../../styles/mixins.scss';

.decorPage {
  padding: 10px 0;
  
  min-height: 100%;
  
  text-align: start;
  font-family: $ff-tilda;

  background-color: $base-light-color;
  
  @include vp-1260 {
    padding: 20px 0;
  }
}

.decorPage__imageWrapper {
  padding: 40px 0;

  width: 100%;
  height: 100%;
  
  & img {
    max-width: 200px;
    width: 100%;
    height: 100%;
    
    aspect-ratio: 1/1;

    border-radius: 50%;
    user-select: none;
    pointer-events: none;
    box-shadow:
      10px 10px 0 15px $color-orange,
      -5px -10px 0 15px $color-telegram-blue,
      30px -10px 0 15px $color-purple,
    ;

    @include vp-1260 {
      max-width: 300px;

      box-shadow:
        10px 10px 0 25px $color-orange,
        -5px -10px 0 25px $color-telegram-blue,
        30px -10px 0 25px $color-purple,
      ;
    }
  }

  @include vp-1260 {
    margin-top: 0;
  }
}

.decorPage__contentTitleWrapper {
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  line-height: 1;
}

.decorPage__contentTitle {
  margin: 0;

  font-size: $fz-m;
  font-weight: 600;
  
  @include vp-1260 {
    font-size: $fz-l;
  }
}

.decorPage__contentSubTitle {
  margin: 0;

  font-size: calc($fz-m - 2px);
  
  @include vp-1260 {
    font-size: $fz-l;
  }
}

.decorPage__steps {
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  @include vp-768 {
    margin-bottom: 40px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  @include vp-1260 {
    margin-bottom: 60px;
  }
}

.decorPage__step {
  padding: 5px;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  line-height: 1;
  text-align: center;
}

.decorPage__stepTitle {
  padding: 5px;
  margin: 0;

  font-weight: 500;
  font-size: $fz-m;
  
  @include vp-1260 {
    font-size: $fz-l;
    
  }
}

.decorPage__stepText {
  padding: 5px;
  margin: 0;

  font-size: $fz-s;
  flex-grow: 1;
}

.decorPage__stepImageWrapper {
  width: 100%;
  max-width: 70px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.decorPage__stepImage {
  width: 100%;
  height: 100%;

  aspect-ratio: 1/1;
}

.decorPage__feedbackImage {
  padding: 10px;

  width: 100%;
  max-width: 250px;

  aspect-ratio: 1/1;
  box-shadow: 0 0 0 10px rgba($color-orange, 0.5);
}
