@import '../../../../styles/vars.scss';
@import '../../../../styles/mixins.scss';

.menu {
  display: none;

  @include vp-1260 {
    display: block;
  }

  & > li:first-child {
    background-color: rgb(174, 233, 57);
    text-transform: uppercase;
    
    &:hover {
      background-color: yellowgreen;
    }
  }

  & li {

    & svg {
      transition: all 200ms ease-in-out;
    }

    &:hover {
      & svg {
        color: $color-6-red;
      }
    }
  }
}
