.ant-menu-item,
.ant-menu-submenu {
  font-size: 20px;
  font-family: $ff-tilda;

  & svg[data-svg-icon] {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.ant-image-preview {
  background-color: rgba($base-dark-color, 0.7) !important;
}

.ant-image-preview-operations-progress {
  top: 40px;
}

.ant-drawer-wrapper-body {
  @include vp-768 {
    right: 0;
  }
}

.ant-drawer-content-wrapper {
  @include vp-768 {
    height: 100% !important;
    min-height: 100% !important;
    width: auto !important;
    min-width: 40%;

    right: 0 !important;
    left: auto !important;
  }
}

.ant-tabs-tab:not(:first-child) {
  margin: 0 0 0 20px !important;
}

.ant-tabs-nav-wrap {
  & * {
    font-size: 16px;
    
    @include vp-768 {
      font-size: 18px;
    }
  }

  @include vp-768 {
    justify-content: center !important;
  }
}

.ant-image {
  width: 100% !important;
}
