// Colors
$base-dark-color: #000000;
$base-light-color: #ffffff;

$color-1-hero: #fbeeec;
$color-2-header: #e0dd48;
$color-3-heroSlide: #edf6fd;
$color-4-blue: #99d1fd;

// Indents
$primary-indent: 20px;
$secondary-indent: 40px;

// Fonts
$ff-tilda: "Tilda Sans", "Arial", sans-serif;

// Breakpoints
$vp-320: 320px;
$vp-768: 768px;
$vp-1120: 1120px;
$vp-1440: 1440px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
