// Colors
$base-dark-color: #000000;
$base-light-color: #ffffff;

$color-1-violet: #B7AEF2;
$color-2-grey: #f6f6f6;
$color-2-greyDarker: #cdcdcd;
$color-3-pink: #F2B3D6;
$color-4-blue: #238C6E;
$color-5-green: #2BD999;
$color-6-red: #f83939;
$color-6-red-lighter: #fa6060;

// Indents
$primary-indent: 10px;
$secondary-indent: 20px;

// Fonts
$ff-tilda: "Tilda Sans", "Arial", sans-serif;
$fz-s: 15px;
$fz-m: 20px;
$fz-l: 25px;

// Breakpoints
$vp-768: 768px;
$vp-1260: 1260px;
$vp-1380: 1380px;
$vp-1600: 1600px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
