// Colors
$base-dark-color: #000000;
$base-light-color: #ffffff;

$color-1-violet: #B7AEF2;
$color-2-beige: #F2EEEB;
$color-3-pink: #F2B3D6;
$color-4-blue: #238C6E;
$color-5-green: #2BD999;

// Indents
$primary-indent: 20px;
$secondary-indent: 40px;

// Fonts
$ff-tilda: "Tilda Sans", "Arial", sans-serif;

// Breakpoints
$vp-320: 320px;
$vp-768: 768px;
$vp-1120: 1120px;
$vp-1440: 1440px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
