@import '../../styles/styles.scss';
@import '../../styles/mixins.scss';

.floatButton {
  position: fixed;
  right: 15px;
  bottom: 62px;

  z-index: 1;
  cursor: pointer;

  @include vp-1260 {
    right: 24px;
    bottom: 48px;
  }
}
