@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.mobileCatalogTreeSelect {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  @include vp-1260 {
    display: none;
  }
}
