@import '../../../styles/styles.scss';
@import '../../../styles/mixins.scss';

.forBusinessPage {
  padding: 10px 0;
  
  min-height: 100%;
  
  text-align: start;
  font-family: $ff-tilda;

  background-color: $base-light-color;
  
  @include vp-1260 {
    padding: 20px 0;
  }
}

.forBusinessPage__headerImageWrapper {
  & img {
    aspect-ratio: 4/3;
    
    box-shadow:
      0 0 0 5px $color-telegram-blue,
      0 12px 10px -5px $base-dark-color,
    ;
  }
}

.forBusinessPage__feedbackImage {
  width: 100%;
  max-width: 200px;
  
  box-shadow: 0 20px 20px -10px $color-grey;
  border-radius: 10px;
  
  @include vp-768 {
    max-width: 250px;
  }

  @include vp-1260 {
    max-width: 350px;
  }
}
