@import '../../../styles/styles.scss';
@import '../../../styles/mixins.scss';

.forBusinessPage {
  padding: 10px 0;
  
  min-height: 100%;
  
  text-align: start;
  font-family: $ff-tilda;

  background-color: $base-light-color;
  
  @include vp-1260 {
    padding: 20px 0;
  }
}

.forBusinessPage__headerImageWrapper {
  margin: 30px 0;
  width: 100%;
  max-width: 200px;
  height: auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  box-shadow: 0 0 0 10px $color-purple;
  
  & img {
    width: 100%;
    height: 100%;
  
    box-shadow: 0 0 0 5px $color-telegram-blue, 0 12px 10px -5px $base-dark-color;
    
    &:first-child {
      transform: translate(-20px, 20px) rotate(-10deg);
    }
    
    &:last-child {
      transform: translate(-20px, -10px) rotate(10deg);
    }
  }

  @include vp-768 {
    padding: 10px;

    max-width: 250px;
  }

  @include vp-1260 {
    padding: 0;

    max-width: none;
  }
}

.forBusinessPage__feedbackImage {
  width: 100%;
  max-width: 200px;
  
  box-shadow: 0 20px 20px -10px $color-grey;
  border-radius: 10px;
  
  @include vp-768 {
    max-width: 250px;
  }

  @include vp-1260 {
    max-width: 350px;
  }
}
