@import '../../../../styles/styles.scss';
@import '../../../../styles/mixins.scss';

.feedback {
  padding: 30px 0;
  
  background-color: $color-grey-light;
  background: linear-gradient($color-grey-light-2, $color-grey-light 80%);
  border-radius: 10px;
  
  font-family: $ff-tilda;
  
  @include vp-1260 {
    padding: 50px;

  }
}

.feedback__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

.feedback__textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @include vp-1260 {
    gap: 40px;
    align-items: baseline;
  }
}

.feedback__title {
  margin: 0;
  
  font-size: $fz-m;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  
  @include vp-1260 {
    max-width: 90%;
    font-size: $fz-l;
    text-align: left;
  }
}

.feedback__contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include vp-1260 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

.feedback__callMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  & p {
    margin: 0;
    
    font-size: calc($fz-m - 2px);
  }

  @include vp-1260 {
    align-items: baseline;
  }
}

.feedback__writeMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  & p {
    margin: 0;

    font-size: calc($fz-m - 2px);
  }

  @include vp-1260 {
    align-items: baseline;
  }
}

.feedback__socials {
  display: flex;
  align-items: center;
  gap: 10px;

  & span {
    display: none;
  }

  & a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  & svg {
    padding: 3px;

    width: 23px;
    height: 23px;
  }
}

.feedback__button {
  padding: 5px 20px;

  width: fit-content;
  height: auto;

  display: flex;
  align-items: center;

  font-size: $fz-s;
  color: $base-light-color;
  font-family: $ff-tilda;
  
  border: none;
  border-radius: 20px;
  background-color: $color-orange;
  box-shadow: 0 2px 5px -2px $base-dark-color;

  &:hover {
    background-color: rgba($color-orange, 0.8) !important;
    color: $base-light-color !important;
  }

  @include vp-1260 {
    font-size: calc($fz-m - 2px);
  }
}

.feedback__imageWrapper {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
