.hero__slider .swiper-button-prev,
.hero__slider .swiper-button-next {
  margin-top: 0;
  
  height: 100%;
  
  top: 0;
  bottom: 0;
  opacity: 0;

  transition: all 0.2s linear;

  &:after {
    color: $base-light-color;
  }

  @include vp-1260 {
    opacity: 0.7;
  }
}

.hero__slider .swiper-button-prev {
  left: 1%;
}

.hero__slider .swiper-button-next {
  right: 1%;
}

.hero__slider .swiper-pagination {
  bottom: 5px;
}

.hero__slider .swiper-pagination-bullet {
  width: 5px;
  height: 5px;

  background-color: $base-light-color;
  opacity: 0.5;
  box-shadow: 0 0 0 1px $base-dark-color inset;

  @include vp-1260 {
    width: 10px;
    height: 10px;
  }
}
