@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.catalogCard {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: $base-dark-color;
  font-family: $ff-tilda;

  box-shadow: 0 0 5px 0 $color-2-greyDarker;

  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  
  &:hover {
    color: $base-dark-color;
    box-shadow: 0 0 5px 2px $color-2-greyDarker;
  }
}

.catalogCard__imageWrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  & img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.catalogCard__content {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalogCard__priceBox {
  padding: 5px;

  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: start;
  gap: 5px;

  // background-color: $color-3-blue;
  
  @include vp-1260 {
    padding: 10px;
  }
}

.catalogCard__price {
  margin: 0;

  font-size: calc($fz-s - 1px);
  text-align: left;
  line-height: 1;
  
  & span {
    font-weight: 400;
    line-height: 1.4;
    font-size: $fz-s;
    vertical-align: text-top;
  }

  @include vp-1260 {
    font-size: calc($fz-m - 2px);
    font-weight: 700;
  }
}

.catalogCard__oldPriceBox {
  display: flex;
  align-items: center;
  gap: 4px;
}

.catalogCard__oldPrice {
  margin: 0;

  display: none;

  color: rgba($base-dark-color, 0.5);
  font-weight: 500;
  font-size: calc($fz-s - 1px);
  text-decoration: line-through;

  & span {
    vertical-align: text-top;
    font-size: calc($fz-s - 4px);
  }

  @include vp-768 {
    display: block;
  }
}

.catalogCard__discountPercent {
  display: none;
  padding: 2.5px 5px;

  border-radius: 5px;
  background-color: $color-5-green;
  color: $base-light-color;
  font-size: calc($fz-s - 2px);

  @include vp-768 {
    display: block;
  }
}

.catalogCard__toFavouritesButton {
  position: absolute;
  padding: 0;
  
  left: 0;
  top: 0;

  height: 20px;
  width: 20px;

  border: none;
  border-radius: 50%;
  background-color: transparent;

  &:hover {
    background-color: rgba($base-light-color, 0.5) !important;
  }

  @include vp-768 {
    width: 30px;
    height: 30px;
  }
}

.catalogCard__text {
  padding: 5px;

  width: 100%;
  max-width: inherit;
  
  display: flex;
  
  @include vp-1260 {
    padding: 10px;
  }
}

.catalogCard__title {
  margin: 0;

  max-width: inherit;
  width: inherit;

  // text-align: center;
  text-align: start;
  font-size: calc($fz-s - 1px);
  font-weight: 500;
  min-width: 0; /* Разрешить сужение контейнера */
  flex: 1; /* Добавляем гибкость для растягивания */
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
