@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';
@import '../../styles/global.scss';

.header {
  min-height: 50px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: baseline;

  background-color: $base-light-color;

  z-index: 20;

  @include vp-768 {
    min-height: 60px;
  }

  @include vp-1260 {
    min-height: 100px;
  }
}

.header .header__topMenu {
  display: none;

  background-color: $color-grey-light;

  @include vp-1260 {
    display: block;
  }
}

.header .headerTopMenu__container {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.topMenu__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  & a {
    display: flex;
  }

  & span {
    display: none;
  }

  & svg {
    padding: 3px;
    
    width: 20px;
    height: 20px;
  }
}

.topMenu__contacts {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  flex-wrap: wrap;

  font-size: $fz-s;

  & * {
    margin: 0;
    padding: 0;

    font-family: $ff-tilda;
    color: $base-dark-color;
    
    &:hover {
      color: $base-dark-color;
    }
  }
}

.topMenu__contactsPhone {
  padding: 5px 15px;

  border-radius: 8px;
  box-shadow: 0 0 10px 10px $base-light-color inset;
  
  transition: all 200ms ease-in-out;
  
  &:hover {
    box-shadow: 0 0 10px 10px $base-light-color inset, 0 1px 7px 1px $color-grey;
  }
}

.header .headerMain {
  width: 100%;
  background:linear-gradient( to bottom, $color-grey-light, #fff);
  border-bottom: 1px $color-grey-light solid;
}

.headerMain .headerMain__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include vp-1260 {
    justify-content: start;
  }
}

.header__logo {
  padding: 5px 0;
  margin-right: auto;

  height: auto;

  color: $color-red;
  font-weight: 500;
  font-size: $fz-m;

  & img {
    width: auto;
    max-height: 30px;

    user-select: none;
    
    @include vp-768 {
      max-height: 50px;
    }
  }
  
  @include vp-1260 {
    margin-right: 20px;
  }
}

.burgerMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: relative;

  @include vp-1260 {
    display: none;
  }
}

.header__mainControls {
  margin: 0 2rem;

  display: none;
  align-items: center;

  @include vp-1260 {
    display: flex;
  }

  & a {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;

    font-size: $fz-s;
    color: $base-dark-color;

    transition: all 300ms ease-in-out;

    &:hover:not(:last-child) {
      background-color: $color-grey-light;
    }
  }
}

.searchComponent {
  display: none;

  @include vp-1260 {
    margin-left: 2rem;

    width: auto;
    max-width: 600px;

    display: block;
    flex-grow: 1;
  
    font-size: 1.4rem;
    font-weight: 700;
    font-family: $ff-tilda;
    
    box-shadow: 0 2px 7px -7px $base-dark-color;
  }
}
