@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.callback {
  max-width: 100%;
  width: 100%;

  display: flex;
  justify-content: center;

  font-family: $ff-tilda;
}

.callback__submitCover {
  height: 100%;
  min-height: 151px;
  
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.callback__submitTitle {
  font-weight: 500;
  user-select: none;
}

.form {
  width: 100%;
  max-width: 350px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  
  & label {
    padding: 10px 0;
    
    display: flex;
    flex-direction: column;
    
    user-select: none;

    & small {
      color: $color-red;
      font-size: $fz-s;
    }
  }

  & .form__agreementLabel {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 5px;

    & input {
      width: auto;
    }

    & .form__error {
     grid-column: 1/-1; 
    }
  }

  & input,
  & textarea {
    padding: 10px;

    width: 100%;
    
    display: block;
    box-sizing: border-box;
    
    font-size: $fz-s;
    line-height: 1;
    font-family: $ff-tilda;
    
    border-radius: 6px;
    outline: none;
    border: 1px solid $color-grey;
    
    &::placeholder {
      color: $color-grey;
    }
  }
  
  & input[type="submit"] {
    margin-bottom: 0;
    padding: 10px 30px;

    width: 100%;
    
    font-size: $fz-s;
    font-family: $ff-tilda;
    font-weight: 500;
    color: $base-light-color;
    
    border: none;
    border-radius: 6px;
    background-color: $color-red;
    background: linear-gradient(to right bottom, $color-red, $color-orange);
    box-shadow: 0 3px 5px 0px rgba($base-dark-color, 0.3);
    
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  
  
    &:hover {
      color: $base-light-color;

      background-color: $color-red-light;
      opacity: 0.9;
    }

    &:disabled {
      pointer-events: none;
      user-select: none;
      opacity: 0.5;
    }

    @include vp-1260 {
      font-size: calc($fz-m - 3px);
    }
  }

  & textarea {
    resize: none;
    height: 80px;
  }
}

.form__inputTitle {
  margin-bottom: 10px;
}

.form__error {
  color: $color-red;
}
