@import '../../styles/styles.scss';
@import '../../styles/mixins.scss';

.feedback {
  background-color: $color-2-beige;
  line-height: 1;
  font-family: $ff-tilda;
  position: relative;

  @include vp-1120 {
    padding: 0;
    min-height: 40vh;

    display: grid;
    grid-template-columns: minmax(auto, 760px) minmax(auto, 760px);
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 50vw;
      background-color: rgba($base-dark-color, 0.2);
      right: 0;
    }
  }
}

// Форма

.feedback__formWrapper {
  padding: 30px;

  @include vp-768 {
    padding: 40px;
  }

  @include vp-1120 {
    padding: 60px 40px;
  }
}

.feedback__formTitle {
  margin: 0;
  margin-bottom: 20px;

  font-size: 28px;
  font-weight: 500;
  text-align: center;

  @include vp-1120 {
    font-size: 42px;
  }
}

.feedback__formSubtitle {
  margin: 0;
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 1.1;
  text-align: center;

  @include vp-1120 {
    font-size: 24px;
  }
}

// Контакты

.feedback__contacts {
  padding: 40px 0;
  background-color: rgba($base-dark-color, 0.2);

  @include vp-1120 {
    padding: 60px 40px;

    background-color: transparent;
    z-index: 10;
  }
}

.feedback__contactsInner {
  margin: 0 auto;
  width: max-content;

  display: flex;
  flex-direction: column;

  @include vp-1120 {
    
  }
}

.feedback__contactsItem {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}

.feedback__contactsIcon {
  display: flex;
  align-items: center;

  & svg {
    width: 30px;
    height: 100%;
  }
}

.feedback__contactsInfo {
  & h3 {
    margin: 0;
    margin-bottom: 5px;

    font-weight: 600;
    font-size: 24px;

    @include vp-1120 {
      font-size: 28px;
      font-weight: 500;
    }
  }

  & a {
    display: block;
    font-size: 20px;

    color: $base-dark-color;

    @include vp-1120 {
      font-size: 24px;
    }
  }
}

.feedback__socials {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  & svg {
    width: 40px;
    height: auto;
    border-radius: 50%;
  }
}

// =====Formik=======

.feedback__formik {
  display: flex;
  justify-content: center;
}

.feedback__form {
  width: 100%;
  max-width: 350px;

  & input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 18px;
  }

  & div {
    transform: translateY(-15px);
  }
  
  & button {
    padding: 10px;
    width: 100%;
    background-color: $color-1-violet;
    font-size: 20px;
    border: none;
  }
}
