@import '../../styles/styles.scss';
@import '../../styles/mixins.scss';

.feedback {
  position: relative;

  font-family: $ff-tilda;
  
  background-color: $color-2-grey;

  @include vp-1260 {
    padding: 0;

    display: grid;
    grid-template-columns: minmax(auto, 630px) minmax(auto, 630px);
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 50vw;
      right: 0;
    }
  }
}

// Форма

.feedback__formWrapper {
  padding: 15px 10px;

  @include vp-768 {
    padding: 20px;
  }

  @include vp-1260 {
    padding: 40px;
  }
}

.feedback__formTitle {
  margin: 0;
  margin-bottom: 15px;

  font-size: $fz-s;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;

  @include vp-768 {
    margin-bottom: 20px;

    font-size: $fz-m;
    line-height: 1;
  }

  @include vp-1260 {
    font-weight: 600;
  }
}

.feedback__formSubtitle {
  margin: 0;
  margin-bottom: 15px;

  font-size: $fz-s;
  line-height: 1.2;
  text-align: center;

  @include vp-1260 {
    font-size: $fz-m;
  }
}

// =====Contacts=======

.feedback__contacts {
  padding: 15px 10px;

  background-color: $base-light-color;

  @include vp-1260 {
    height: 100%;
    padding: 40px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: transparent;
    z-index: 10;

    &::after {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: $color-2-greyDarker;
    }
  }
}

.feedback__contactsMainWrapper {

  @include vp-1260 {
    height: 100%;
    max-height: 100%;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
}

.feedback__contactsMainContent {

  @include vp-1260 {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.feedback__contactsInner {
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  @include vp-500 {
    flex-direction: row;
    justify-content: space-evenly;
  }
    
  @include vp-1260 {
    margin: 0;
    margin: auto;
    
    flex-direction: column;
    align-items: flex-start;
  }
}

.feedback__contactsTitle {
  margin: 0;
  margin-bottom: 15px;

  font-size: $fz-s;
  font-weight: 500;
  text-align: center;
    
  @include vp-1260 {
    margin-bottom: 20px;

    font-size: $fz-m;
    text-align: center;
  }
}

.feedback__contactsItem {
  margin-bottom: 15px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.feedback__contactsIcon {
  display: flex;
  align-items: center;

  & svg {
    width: 20px;
    height: 20px;
    
    @include vp-1260 {
      width: 25px;
      height: 25px;
    }
  }
}

.feedback__contactsInfo {
  & a {
    margin-bottom: 5px;

    display: block;

    font-size: calc($fz-s + 1px);
    font-weight: 500;
    letter-spacing: 0.5px;
    
    color: $base-dark-color;
    
    @include vp-1260 {
      font-size: calc($fz-s + 2px);
    }
  }
  
  & span {
    font-weight: 300;
    letter-spacing: 0.1px;
  }
}

.feedback__socials {
  margin-top: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  & svg {
    width: 25px;
    height: auto;
    border-radius: 50%;
    
    @include vp-1260 {
      width: 30px;
    }
  }
}

.feedback__contactsMapWrapper {
  display: none;

  @include vp-1260 {
    height: 100%;

    display: flex;

    background-color: $color-1-violet;
    background-image: url('../../assets/map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

// =====Formik=======

.feedback__callback {
  display: flex;
  justify-content: center;
  position: relative;
}

.feedback__form {
  width: 100%;
  max-width: 350px;
  position: relative;

  & input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: $fz-s;
  }

  & div {
    transform: translateY(-15px);
  }
  
  & input[type="submit"] {
    margin-bottom: 0;
    padding: 13px 30px;

    width: 100%;
    
    font-size: $fz-s;
    font-family: $ff-tilda;
    font-weight: 500;
    
    border: none;
    cursor: pointer;
    background-color: $color-6-red;
    color: $base-light-color;
    transition: all 0.2s ease-in-out;
  
    &:hover {
      background-color: $color-6-red-lighter;
      color: $base-light-color;
    }

    &:disabled {
      pointer-events: none;
      user-select: none;
    }

    @include vp-1260 {
      font-size: calc($fz-m - 3px);
    }
  }
}

.feedback__submitCover {
  background-color: $color-2-grey;
  text-align: center;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
