@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.footer {
  margin: 0;
  padding: 15px 0;

  font-family: $ff-tilda;
  background-color: $color-grey-light;
  color: $base-dark-color;
  font-size: $fz-s;

  box-shadow: 0 20px 15px -25px $base-dark-color inset;

  @include vp-1260 {
    padding: 25px 0;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
