@import '../../styles/styles.scss';
@import '../../styles/mixins.scss';

.assortment {
  padding: 30px 0;

  font-family: $ff-tilda;
  background-color: $base-light-color;
}

.assortment__title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 28px;
  font-weight: 500;
  text-align: center;

  @include vp-1120 {
    font-size: 42px;
  }
}

.assortment__subtitle {
  margin: 0;
  margin-bottom: 30px;

  font-size: 18px;
  line-height: 1.1;
  text-align: center;

  & span {
    font-size: 16px;
  }
}

.assortment__tabs {
  font-size: 14px;
  font-family: $ff-tilda;
}

.ant-tabs-tab {
  font-size: 16px !important;
}

.assortment__swiper {
  @include vp-1120 {
    max-width: 80%;
  }
}

.assortment__slide {
  padding: 5px;
  height: auto;
}
