@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.catalogMenu__nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.catalogMenu__link {
  padding: 15px;

  display: flex;
  align-items: center;

  color: $base-dark-color;
  font-size: calc($fz-m - 2px);

  transition: all 200ms ease-in-out;

  border-radius: 3px;
  box-shadow: 0 1px 2px 2px rgba($color-grey, 0.7);

  &:hover {
    color: $base-dark-color;
    background-color: $color-grey-light-2;
  }

  &:focus {
    color: $base-light-color;
  }
  
  &:active {
    color: $base-dark-color;
  }
}

.catalogMenu__linkActive {
  background-color: $color-purple;
  background: linear-gradient(to right bottom, $color-telegram-blue, $color-purple);
  color: $base-light-color;

  &:hover {
    color: $base-light-color;
  }
}