@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.menu {
  display: none;

  @include vp-1260 {
    display: block;
  }

  & > li:first-child {
    box-shadow: 0 0 3px 0 $color-6-red inset;
    background-color: $base-light-color;
    text-transform: uppercase;
    
    // &:hover {
    //   background-color: yellowgreen;
    // }
  }

  & li {

    & svg {
      transition: all 200ms ease-in-out;
    }

    &:hover {
      & svg {
        color: $color-6-red;
      }
    }
  }
}
