@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.menu {
  display: none;

  @include vp-1260 {
    display: block;
  }

  & > li:first-child {
    box-shadow: 0 0 5px 1px #fa6000 inset;
    background-color: $base-light-color;
    text-transform: uppercase;
    // color: $base-light-color;
    font-weight: 800;
    & svg {
      font-size: 18px;
    }
    
    // &:hover {
    //   background-color: yellowgreen;
    // }
  }

  & li {

    & svg {
      transition: all 200ms ease-in-out;
    }

    &:hover {
      & svg {
        color: rgb(1, 194, 1);
      }
    }
  }
}
