@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.searchComp {
  margin-bottom: 15px;
}

.mobileNavigation__tiles {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & a {
    padding: 10px 0;

    width: 100%;
    max-width: 100%;

    border-radius: 8px;
 
    & p {
      padding: 0 10px;
      font-size: calc($fz-m - 2px);
      line-height: 1;
    }
  }
}

.innerDrawer__content {
  display: flex;
  flex-direction: column;

  & a {
    color: $base-dark-color;
    font-size: $fz-m;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;

    box-shadow: 0 1px 1px 0 #dbdbdb inset;
  }
}


