@import '../../../styles/styles.scss';
@import '../../../styles/mixins.scss';

.contactsPage {
  padding: 10px 0;

  height: 100%;
  
  font-family: $ff-tilda;

  background-color: $base-light-color;

  @include vp-1260 {
    padding: 20px 0;
  }
}

.contactsPage__title {
  margin: 0;
  margin-bottom: 20px;
  
  font-size: $fz-m;
  font-weight: 600;
  text-align: center;

  @include vp-1260 {
    margin-bottom: 15px;

    font-size: $fz-l;
  }
}

.contactsPage__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.contactsPage__socialLinks {
  width: auto;

  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.contactsPage__phoneMail {
  margin: 0;
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 10px;

  & a {
    display: block;
    color: $base-dark-color;
    font-size: calc($fz-m - 3px);
  }
}

.contactsPage__locationWrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp-500 {
    align-items: flex-start;
  }
}

// =====Formik=======

.contactsPage__callbackWrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  @include vp-500 {
    width: auto;
    align-items: flex-start;
  }
}

.contactsPage__formTitle {
  margin: 0;

  font-size: $fz-m;
  font-weight: 500;
  text-align: center;

  @include vp-500 {
    align-self: center;
  }
}

.contactsPage__formSubtitle {
  margin: 0;

  text-align: center;
}

.contactsPage__callback {
  width: 100%;

  display: flex;
  justify-content: center;
  position: relative;

  @include vp-500 {

    justify-content: flex-start;
  }
}

.contactsPage__form {
  width: 100%;
  max-width: 350px;
  position: relative;

  & input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: $fz-s;
  }

  & div {
    transform: translateY(-15px);
  }
  
  & input[type="submit"] {
    margin-bottom: 0;
    padding: 13px 30px;

    width: 100%;
    
    font-size: $fz-s;
    font-family: $ff-tilda;
    font-weight: 500;
    
    border: none;
    cursor: pointer;
    background-color: $color-red;
    color: $base-light-color;
    transition: all 0.2s ease-in-out;
  
    &:hover {
      background-color: $color-red-light;
      color: $base-light-color;
    }

    &:disabled {
      pointer-events: none;
      user-select: none;
    }

    @include vp-1260 {
      font-size: calc($fz-m - 3px);
    }
  }
}

.contactsPage__submitCover {
  background-color: $color-grey-light;
  text-align: center;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
