@import '../../../styles/styles.scss';
@import '../../../styles/mixins.scss';

.shoppingCart {
  height: 100%;
  
  font-family: $ff-tilda;

  background-color: $base-light-color;
  // background-color: $color-6-red;
  
  @include vp-1260 {
    padding: 20px 0;
  }
}

// .shoppingCart__container {}

.styledBadge {
  padding: 5px;
  
  height: 18px;

  display: flex;
  align-items: center;
  
  font-size: 12px;
  font-family: $ff-tilda;

  @include vp-500 {
    padding: 0 8px;

    height: auto;

    display: block;

    font-size: 14px;
  }
}

.shoppingCart__title {
  margin: 0 auto;
  margin-bottom: 10px;
  
  font-size: $fz-m;
  font-weight: 600;
  text-align: center;

  @include vp-1260 {
    margin-bottom: 15px;

    font-size: $fz-l;
  }
}

.shoppingCart__listContainer {
  padding: 10px 0 15px;
  
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, minmax(25%, 1fr));
  align-items: stretch;
  justify-content: center;
  
  @include vp-500 {
    gap: 20px;
    grid-template-columns: repeat(4, minmax(20%, 4fr));
  }

  @include vp-1260 {
    grid-template-columns: repeat(5, minmax(15%, 4fr));
  }
}

// ===========Empty=============

.shoppingCart__emptyContainer {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: $base-light-color;
}

.shoppingCart__emptyImageWrapper {


  & img {
    width: 300px;
  }
}

.shoppingCart__emptyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  font-size: $fz-s;

  @include vp-1260 {
    font-size: $fz-m;
  }
}

// .shoppingCart__emptyTitle {}

.shoppingCart__emptyLink {
  padding: 10px 15px;
  display: none;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  color: $base-light-color;
  background-color: $color-4-blue;
  
  transition: all 300ms ease-in-out;

  @include vp-1260 {
    display: flex;
  }
  
  &:hover {
    box-shadow: 0 0 0 1px $base-dark-color;
    color: $base-dark-color;
    background-color: $base-light-color;
  }
}

.shoppingCart__emptyLinkMobile {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  color: $base-light-color;
  background-color: $color-4-blue;
  
  transition: all 300ms ease-in-out;

  @include vp-1260 {
    display: none;
  }
}

.shoppingCart__footer {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include vp-1260 {
    align-items: flex-end;
    padding: 10px 50px;
    text-align: right;
  }
}

.shoppingCart__totalDescription {
  margin-bottom: 20px;
  
  font-size: calc($fz-s + 2px);

  @include vp-1260 {
    margin-bottom: 30px;
    
    font-size: $fz-m;
  }
}

.shoppingCart__toOrderLink {
  width: 100%;
  max-width: 360px;

  background-color: $color-6-red;

  color: $base-light-color;
  font-family: $ff-tilda;
  
  &:hover {
    color: $base-light-color !important;
    background-color: $color-6-red-lighter !important;

    outline: none;
    border: none;
  }
}

.outerCatalogCardWraper {
  position: relative;
}

.catalogCard__delButton {
  padding: 0;
  width: 20px;
  height: 20px;

  position: absolute;
  top: 0;
  right: 0;

  border: none;
  border-radius: 50%;
  background-color: rgba($base-light-color, 0.5);
  cursor: pointer;

  @include vp-768 {
    width: 30px;
    height: 30px;
  }
}
