@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.cardModal__topWrap {
  @media (max-width: $vp-500) {
    background-color: $base-light-color;
    
    & > div {
      margin: 0 !important;
      max-width: 100% !important;
    }
  }
}

.cardModal__top {
  @media (max-width: $vp-500) {
  padding-bottom: 60px;
  top: 0;
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;
  }
}

.cardModal {
  width: 100%;

  font-family: $ff-tilda;
}

.cardModal__main {

  display: flex;
  flex-direction: column;
  gap: 5px;

  @include vp-500 {
    margin-bottom: 15px;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

.cardModal__image {
  width: 100%;
  height: 100%;
  
  & img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
  }
}

.cardModal__mainInfo {
  display: flex;
  flex-direction: column;
}

.cardModal__title {
  margin: 0;
  margin-bottom: 10px;
  
  line-height: 1;
  font-weight: 600;
  font-size: $fz-m;
  
  @include vp-500 {
    margin-bottom: 15px;

    font-size: $fz-l;
  }
}

.cardModal__priceBox {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;

  font-size: $fz-m;
  font-weight: 600;

  @include vp-500 {
    margin-bottom: 15px;
  }
}

.cardModal__price {
  margin: 0;

  font-weight: 600;
}

.cardModal__oldPrice {
  margin: 0;

  color: rgba($base-dark-color, 0.4);
  text-decoration: line-through;
  font-weight: 400;
  font-size: calc($fz-m - 5px);
}

.cardModal__badges {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: $ff-tilda;
  color: $base-light-color;
  font-size: calc($fz-s - 3px);
  line-height: 1;

  & span {
    padding: 2px 5px;
    border-radius: 10px;
  }
}

.cardModal__article {
  margin: 0;

  font-family: $ff-tilda;
  font-size: calc($fz-s - 3px);
}

.cardModal__inStockWrapper {
  display: flex;
  align-items: center;
}

.cardModal__inStock {
  margin-left: 5px;
}

.cardModal__userActions {
  margin-top: auto;
}

.cardModal__userActionsInner {
  padding: 15px 0 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;

  @include vp-500 {
    padding: 10px;

    display: flex;
    align-items: center;
  }
}

.cardModal__userActionsOuter {
  padding: 10px;
}

.cardModal__userActionsOuterNotation {
  margin: 0;
  padding: 5px;
  padding-left: 0;
}

.cardModal__userActionsOuterLinks {
  display: flex;
  align-items: center;
  gap: 10px;

  & a {
    width: auto;
    height: 100%;

    display: flex;
    text-decoration: none;
    border-radius: 50%;
  }
  
  & svg {
    border-radius: 50%;
    width: 25px;
    height: auto;
  }
}
