@import '../../styles/styles.scss';
@import '../../styles/mixins.scss';

.desktopMenu {
  display: none;

  @include vp-1120 {
    display: flex;
    justify-content: center;

    position: fixed !important;
    left: 0;
    width: 100%;
    z-index: 1001;
  }
}
