@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.mobileNavigation {
  position: sticky;
  bottom: 0;
  z-index: 9999;
  background-color: $base-light-color;

  @include vp-1260 {
    display: none;
  }
}

.mobileNavigation__container {
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobileNavigation__linkWrapper {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileNavigation__link {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: $ff-tilda;
  font-size: 11px;
  font-weight: 600;
  line-height: 2;
  color: $base-dark-color;

  &.active {
    color: $color-6-red;

    & svg {
      fill: $color-6-red;
    }
  }
}

.searchComp {
  
  margin-bottom: 15px;
}

.mobileNavigation__tiles {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & a {
    padding: 10px 0;

    width: 100%;
    max-width: 100%;

    border-radius: 8px;
 
    & p {
      padding: 0 10px;
      font-size: calc($fz-m - 2px);
      line-height: 1;
    }
  }
}

.innerDrawer__content {
  display: flex;
  flex-direction: column;

  & a {
    color: $base-dark-color;
    font-size: $fz-m;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;

    box-shadow: 0 1px 1px 0 #dbdbdb inset;
  }
}


